

main{height: 450px; margin-top: 33px; }
main .box{width: 360px; height: 370px; border: 1px solid #999999; box-sizing: border-box;margin-left: 800px;}
main .box span{font: 16px/60px "";   color: #3e3e3e;  margin-left: 20px;  margin-right: 147px; }
main .box #ch{  font: 14px/60px "";  color: #999999; }
main .box input{border: 0; display: block; margin: 0 auto;height: 37px; width: 304px; border: 1px solid #dddddd;margin-top: 20px;}
main .box #btn{ height: 37px; width: 304px;background: #009757;margin-top: 40px;border: 0;}
main .box .deng{font: 700 12px/18px""; color: #008842; width: 360px; text-align: center;}



































































